.hero-section {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 3rem;
}

p {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.showcase-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100rem;
  flex-direction: row;
  flex-wrap: wrap;
}
