.navbar {
  background-color: #f4f4f4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  padding-left: 5rem;
  padding-right: 5rem;
}

.logo {
  margin-left: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: rgb(62, 62, 62);
  font-family: "Gooper";
  font-style: italic;
  text-transform: lowercase;
  text-align: left;
  background: linear-gradient(90deg, #f2a6bd, #444aa7);
  background-clip: text;
  color: transparent;
  line-height: 2;
}

.navbar__link {
  color: #333;
  text-decoration: none;
  margin-left: 2rem;
  transition: color 0.2s ease-in-out;
}

.navbar__link:hover {
  color: #666879;
}
