@font-face {
  font-family: "Regular"; /*Can be any text*/
  src: local("ApercuRegular"),
    url("./assets/fonts/Apercu\ Pro\ Regular.otf") format("opentype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
